@font-face{
  font-family: "helvetica-regular";
  src:
      url(../fonts/HelveticaNeueLTStd-Roman.ttf) format("truetype"),
      url(../fonts/HelveticaNeueLTStd-Roman.woff) format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "helvetica-bold";
  src:
          url(../fonts/HelveticaNeueLTStd-Bd.ttf) format("truetype"),
          url(../fonts/HelveticaNeueLTStd-Bd.woff) format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "helvetica-light";
  src:
          url(../fonts/HelveticaNeueLTStd-Lt.ttf) format("truetype"),
          url(../fonts/HelveticaNeueLTStd-Lt.woff) format("woff");
  font-style: normal;
  font-weight: normal;
}