@media screen and (max-width:992px){
  $page-width: 768px;
  header{
    max-width: $page-width;
    margin-left: -$page-width*0.5;
    .logo img {
      width: 50px;
    }
    .region-header{
      .block-lang-switcher {
        right: 60px;
      }
      #block-system-main-menu {
        .content > ul.menu > li > a {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
  footer {
    .region-footer {
      max-width: $page-width;
    }
  }
  .page-wrap{
    .panel-col-top{
      .group-slider-info{
        max-width: $page-width;
        margin-left: -$page-width*0.5;
        width: 80%;
        .field-item{
          font-size: 30px;
          line-height: 40px;
        }
      }
    }
    .pane-menu-menu-contact-us{
      display: none;
    }
    .center-wrapper{
      max-width: $page-width;
      padding-bottom: 15px;
      .panel-col-first{
        width: 100%;
        .more-link{
          position: relative;
          margin-top: 15px;
          bottom: 0;
        } 
      }
      .panel-col-last{
        width: 100%;
        .more-link{
          position: relative;
          bottom: 0;
          margin-top: 15px;
        }
      }
    }
    .panel-col-bottom{
      max-width: $page-width;
      .inside{
        .pane-teams .views-row{
          min-height: inherit;
        }
      }
    }
  }


//--------------- Page Home --------------------
  .page-home{
    .page-wrap{
      .center-wrapper{
        .panel-col-last{
          .more-link{
            width: 100%;
          }
        }
      }
    }
  }


//---------------  Competencies Page ---------------
  body:not(.page-home){
      .panel-col-first {
          width: 100%;
      }
    }


//---------------  References Page ---------------
  .inside .view-filters .views-exposed-widgets .views-exposed-widget .bef-checkboxes{
    .form-item {
     width:49%;
    }
    .form-item:not(:nth-child(3n)){
      margin-right: 0;
    }
    .form-item:not(:nth-child(2n)){
      margin-right: 2%;
    }
  }


//---------------  Latest News Page ---------------
  .page-aktuelles{
    .center-wrapper {
      .panel-col-first{
        .panel-pane .field-name-node-link{
          width: 100%;
        }
      }
      .panel-col-last{
        width:100%;
        .pane-webform{
          margin-top: 15px;
          .form-actions{
            padding: 0;
          }
        }
      }
    }
  }


//---------------  Contact Page ---------------
  .page-contact{
    .center-wrapper {
      .panel-col-first, .panel-col-last{
        form .form-actions{
          margin-top: 0;
        }
        .pane-webform{
          margin-top:0;
        }
      }

      .panel-col-last{
        width: 100%;
      }
    }
  }


//---------------  About Us Page ---------------
  .page-unternehmen{
    .panel-col-bottom{
      .inside .view-content{
        .views-row{
          width:49%;
          min-height: 130px;
        }
        .views-row:not(:nth-child(3n)) {
          margin-right: 0;
        }
        .views-row:not(:nth-child(2n)) {
          margin-right: 2%;
        }
      }
      .pane-publications{
        .view-content{
          .views-row{
            margin: 0;
            margin-top: 15px;
          }
          .views-row:not(:nth-child(3n)) {
            margin-right: 0;
          }
          .views-row:not(:nth-child(2n)) {
            margin-right: 2%;
          }
        }
        .more-link{
          width:100%;
        }
      }
      .pane-job-offers{
        .views-row{
          margin: 0;
          margin-top: 15px;
        }
      }
    }
  }

}


@media screen and (max-width: 790px){
  header{
    max-width: 100%;
    margin: 0;
    transform: translateX(-50%);
    .logo {
      transform: rotate(90deg);
      right: 56px;
      top: -26px;
    }
    .region-header{
      .block-lang-switcher {
        right: 147px;
      }
      #block-system-main-menu {
        .content{
          &> ul.menu{
            height: 42px;
            width: 60px;
            cursor: pointer;
            left: 15px;

            &:before, &:after{
              content: "";
              position: absolute;
              left: 17px;
              height: 2px;
              width: 26px;
              background: $white;
              transition: .3s;
              -webkit-transition: .5s;
            }
            &:before{
              top: 15px;
            }
            &:after{
              top: 25px;
            }
            &:hover{
              &:before, &:after{
                background: $orange;
              }
            }

            &:focus, &:active, &:hover{
              padding-top: 62px;
              width: 100%;
              height: auto;
              left: 0;
              &:before{
                transform: rotate(45deg);
                top: 20px;
              }
              &:after{
                transform: rotate(-45deg);
                top: 20px;
              }
              &>li{
                display: block;
                float: none;
                border-top: 1px solid $blue-border;
                &>ul.menu{
                  position: relative;
                  top:0;
                  right: 0;
                  left: 0;
                  padding: 0;
                  z-index:1;
                  .more-link{
                    bottom: 15px;
                  }
                  &>li{
                    width: 100%;
                    padding: 0;
                    &>a{
                      padding:15px;
                      border-top: 1px solid $blue-border;
                    }
                    &>ul.menu{
                      display: none;
                    }
                  }
                }
              }
            }

            &>li{
              display: none;
              &>a {
                padding: 15px 18px;
                font-size: 21px;
                line-height: 25px;
              }
            }
          }

        }
      }
    }
  }
  footer {
    .region-footer {
      max-width: 100%;
      margin:0 15px;
    }
  }
  body{
    .panel-col-top{
      .group-slider-info{
        margin: 0 15px;
        left: 0;
        bottom: 50px;

      }
    }
    .center-wrapper{
      margin-left: 15px;
      margin-right: 15px;
      max-width: 100%;
      .panel-col-first {
        width: 100%;
        .pane-menu-block{
          ul.menu{
            li{
              width: 100%;
              position: relative;
              top: 0;
            }
            li.distribution{
              a{
                &:after{
                  display: block;
                }
              }
            }
            li.it-systeme{
              a {
                &:after, &:before{
                  display: none;
                }
              }
              &:after, &:before{
                display: none;
              }
            }
          }
        }
      }
    }
    .panel-col-bottom {
      .inside{
        margin: 0 15px;
        .pane-fieldable-panels-pane{
          width: 100%;
          margin: 0;
          margin-top: 15px;
          .field-name-title-ds{
            height: auto;
          }
          .field-type-text-long{
            margin: 20px 0;
            padding: 0;
          }
        }
      }
    }
  }


//--------------- Page Home --------------------
  .page-home{
    .page-wrap{
      .panel-col-top{
        .group-slider-info{
          padding: 10px;
          left: 15px;
          margin-left: 0;
          bottom: 15px;
          .field-item{
            font-size: 16px;
            line-height: 20px;
          }
          .field-type-link-field a{
            font-size: 14px;
            line-height: 18px;
          }
        }
        .slick-dots{
          right: 15px;
        }
      }
      .center-wrapper{
        margin-top: 0;
        margin-left: 15px;
        margin-right: 15px;
        .panel-col-last{
          width: 100%;
        }
      }
      .panel-col-bottom{
        .inside{
          margin-left: 15px;
          margin-right: 15px;
        }
      }
      .slick-slider{
      .field-type-image{
        height: 300px;
      }
    }
    }
  }


//---------------  Competencies Page ---------------
  body:not(.page-home){
    .page-wrap{

      .center-wrapper{
        margin-top: 0;
        margin-left: 15px;
        margin-right: 15px;
      }
      .header-banner-image{
        height: 300px;
      }
      .panel-col-bottom .pane-bundle-text-block .field-item h1 + p {
        width: 100%;
      }
      .panel-col-first{
        padding: 15px;
        margin-top: -150px;
      }
      .panel-col-bottom{
        .inside{
          margin: 0 15px;
          .pane-bundle-text-block {
            h1{
              padding-top: 0;
            }
          }
          .pane-fieldable-panels-pane{
            .field-type-text-long{
              margin: 0;
            }
          }
        }
      }
      .pane-clients-highlight{
        display: none;
      }

    }
  }


//---------------  References Page ---------------
  .page-referenzen{
    .center-wrapper{
      margin-top: -150px;
    }
    .pane-clients-referenzen{
      width: 100%;
      padding-bottom: 0;
      .pane-title, .view-header, .view-filters {
        width: 100%;
        padding: 15px;
      }
      .view-filters{
        .views-exposed-widgets .views-exposed-widget .bef-checkboxes .form-item{
          width: 100%;
          margin: 0;
          margin-top: 5px;
          label{
            text-align: left;
          }
        }
      }

      .view-content{
        margin: 0;
        .views-row{
          width: 100%;
          margin:0;
          margin-top: 15px;
          .field-type-text-long{
            height: auto;
          }
        }
      }
    }
  }


//---------------  Network Page ---------------
  .page-netzwerk {
    .center-wrapper{
      .panel-col-last{
        margin: 0;
      }
    }
    .pane-fieldable-panels-pane .field-item{
      h1{
        padding-bottom: 0;
        margin-bottom: 20px;
      }
      h3{
        padding: 0;
        margin: 20px 0 5px 0;
      }
    }
    .panel-col-bottom{
      .inside{
        .pane-teams .views-row{
          width:100%;
          margin: 0;
          margin-top: 15px;
          .field-name-node-link{
            display: inline-block;
            width: auto;
            position: absolute;
            bottom: 15px;
          }
          .field-type-image{
            height: auto;
            img{
              float: none;
            }
          }
        }
        .pane-sponsors .views-row{
          width:100%;
          margin: 0;
          margin-top: 15px;
        }
      }
    }
    .view-filters{
      .views-exposed-widgets .views-exposed-widget .bef-checkboxes .form-item{
        width: 100%;
        margin: 0;
        margin-top: 5px;
        label{
          text-align: left;
        }
      }
    }
  }


//---------------  Latest News Page ---------------
  .page-aktuelles {
    .page-wrap{
      .center-wrapper{
        .panel-col-first{
          padding: 0;
          .panel-pane{
            padding: 15px;
            .field-name-node-link{
              margin-top: 0;
            }
          }
        }
        .panel-col-last{
          .more-link{
            width: 100%;
          }
        }
      }
    }
  }

//---------------  Contact Page ---------------
  .page-contact{
    .page-wrap{
      .center-wrapper {
        .panel-col-first {
          width:100%;
          .pane-newsletter form.webform-client-form{
            fieldset{
              width:100%;
              float: none;
              margin-right: 0;
            }
            .webform-component-textarea{
              width: 100%;
              float: none;
            }
            .form-actions{
              width: 100%;
              float: none;
              margin-top: 0;
            }
          }
        }
        .panel-col-last{
          width:100%;
          h2{
            padding-left: 0;
          }
        }
      }
      .panel-col-bottom{
        .inside{
          margin:0 15px;
        }
      }
      .colorized-gmap-common{
        height: 300px;
      }
    }
  }


//---------------  About Us Page ---------------
  .page-unternehmen {
    .page-wrap{
      .center-wrapper {
        margin-bottom: 0;
        .panel-col-first {
          padding: 0;
        }
        .panel-col-last {
          margin-top: 0;
        }
      }
      .panel-col-bottom{
        .inside .view-content{
          .views-row{
            width:100%;
            min-height: 130px;
          }
          .views-row:not(:nth-child(3n)),
          .views-row:not(:nth-child(2n)) {
            margin-right: 0;
          }
        }
      }
      .pane-fieldable-panels-pane .field-type-link-field .field-item{
        width: 100%;
      }
    }
  }

}









