
@mixin wrapper{
  max-width: $page-width;
  margin: 0 auto;
  @extend .clearfix;
}

@mixin fontbase($ff){
  font-family: $ff;
}

@mixin button-slider-nav{
  text-indent: -9999px;
  border:none;
  background: $gray-light;
  width:  14px;
  height: 14px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  &:hover{
    background: $gray;
    @extend .transition;
  }
}
