html{
  height: 100%;
}

body {
  height: 100%;
  font-family: $font-regular;
  color: $black;
  margin: 0;
}

strong{
  font-weight: normal;
  font-family: $font-bold;
}

p{
  font-family: $font-light;
  font-size: 16px;
  line-height: 20px;
}

a,
a *,
a::before,
a::after {
  text-decoration: none;
}
a {
  &:focus{
    color: inherit;
  }
}

img{
  max-width: 100%;
  height: auto;
}

ul, li,
ul.menu, ol, ul.menu li.leaf,
ul.menu li.expanded
{
  list-style-type:none;
  list-style-image: none;
  padding: 0;
  margin: 0;
}

/* Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6{
  font-family: $font-light;
  font-weight: normal;
}
h1{
  font-size: 36px;
  line-height: 40px;
}
h2{
  font-size: 30px;
  line-height: 34px;
  margin-top: 20px;
  margin-bottom: 20px;
}
h3{
  font-size: 24px;
  line-height: 28px;
  margin-top: 40px;
  margin-bottom: 40px;
}
h4{
  font-size: 20px;
  line-height: 24px;
  margin: 25px 0;
}
h5 {

}
h6 {

}

label{
  font-weight: normal;
  cursor: pointer;
}




