/*____________________ Colors _________________*/
$black: #000;
$white: #fff;

$page: #1f1f1f;
$gray: #393A3F;
$gray-light: #9C9C9C;
$gray-light-a7: #a7a7a7;
$gray-light-bg: #f0f6f8;
$red: #BD1A20;
$red-light: #BF5156;
$red-dark: #962427;
$darken-red: darken($red,4%);
$blue: #006699;
$blue-border: #00527a;
$link-active: #006699;
$orange: #E59900;


$primary-color: $red;


/*____________________ Fonts _________________*/
$font-regular: "helvetica-medium", sans-serif;
$font-bold:    "helvetica-bold", sans-serif;
$font-light:   "helvetica-light", sans-serif;


/*____________________ Wrapper  _________________*/
$page-width: 960px;




